body {
    background-color: #ffe730;
}


a[href="../entry2/final/index.html"] {
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 13px;
    z-index: 1;
    color: #000000;
    background-color: transparent; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../entry2/final/index.html"]:hover {
    color: #ffffff;
    background-color: #ff04cd;
}


a[href="../../index.html"] {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    z-index: 1;
    color: #000000;
    background-color: transparent; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}


a[href="../../index.html"]:hover {
    color: #ffffff;
    background-color: #ff04cd;
}


h1 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 60px;
}
h2 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 20px;

}
h4 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
hr {
    border: none;
    border-top: 1.5px dashed rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 5px;
    width: 100%;
}

p1 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
p2 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
p3 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
.custom-font {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
  }
  
  

p14{
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
p15 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px; 
    color: rgb(0, 0, 0);
}
p16 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
p17 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
p18 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

p20 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
}