body {
    background-color: #000000;
}


.item-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  justify-content: center;
  align-items: center; /* Center vertically */
  height: 10vh;
  max-width: 70%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
}


.item {
  margin: 0;
}

.item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ff04cd;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}

.item a:hover {
  background-color: #ff04cd;
  color: #ffffff;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .item-list {
      grid-template-columns: repeat(5, 1fr);
  }
}



.title {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  color: #ff04cd;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.text1 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  top: 90px; 
  left: 500px; 
  transform: translateX(-50%);
}

.text2 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  bottom: 480px; 
  right: 10px; 
  transform: translateX(-50%);
}

.text3 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  bottom: 50px; 
  right: 400px; 
  transform: translateX(-50%);
}

.text4 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  bottom: 300px; 
  left: 300px; 
  transform: translateX(-50%);
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.text1, .text2, .text3, .text4 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #d94fff;
  position: absolute;
  transform: translateX(-50%);
  animation: blink 1.9s infinite; 
}

.text1 {
  top: 90px;
  left: 500px;
}

.text2 {
  bottom: 480px;
  right: 10px;
}

.text3 {
  bottom: 50px;
  right: 400px;
}
.text4 {
  bottom: 300px;
  left: 300px;
}
