body {
    background-color: rgb(91, 197, 29);
}

a[href="../../entry1/index.html"] {
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 13px;
    z-index: 1;
    color: #ffffff;
    background-color: transparent; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry1/index.html"]:hover {
    color: rgb(69, 52, 36);
    background-color:  rgb(246, 255, 0);
}

a[href="../../entry3/final/index.html"] {
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 13px;
    z-index: 1;
    color: #ffffff;
    background-color: transparent; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry3/final/index.html"]:hover {
    color: rgb(69, 52, 36);
    background-color:  rgb(246, 255, 0);
}

a[href="../../../index.html"] {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    z-index: 1;
    color: #ffffff;
    background-color: transparent; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}


a[href="../../../index.html"]:hover {
    color: rgb(69, 52, 36);
    background-color:  rgb(246, 255, 0);
}



h1 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(69, 52, 36);
    font-size: 110px;
    word-spacing: -10px;
}
.tamdao {
    background-color: rgb(69, 52, 36); 
    color: rgb(246, 255, 0);
    padding: 3px; 
  }
  
  .diptyque {
    background-color: rgb(246, 255, 0); 
    color: rgb(69, 52, 36); 
    padding: 3px; 
  }
  
  .tamdao:hover {
    background-color: rgb(246, 255, 0); 
    color: rgb(69, 52, 36); 
    padding: 3px;
  }
  
  .diptyque:hover {
    background-color: rgb(69, 52, 36); 
    color: rgb(246, 255, 0);
    padding: 3px; 
  }
  
  
h4 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(246, 255, 0);
    font-size: 25px;
    overflow: hidden;
    animation: blink 1.9s infinite; 
    z-index: -1;
    top:200px;
    
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 2;
    }
    100% {
        opacity: 0;
    }
}

.second {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color:rgb(69, 52, 36);
    max-width: 60%;
    text-align: center;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}


  
.text {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: rgb(69, 52, 36);
    text-align: center;
    animation: floating 1.8s infinite;
    top:200px;
  }


p16 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: rgb(69, 52, 36);
}
p17 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: rgb(69, 52, 36);
}
p18 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: rgb(69, 52, 36);
}

.highlight {
    font-weight: 600;
  }
  