body {
    background-color: rgb(80, 173, 26);
}

h1 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(69, 52, 36);
    font-size: 150px;
}
h4 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(69, 52, 36);
    font-size: 30px;
    overflow: hidden;
    animation: blink 1.9s infinite; 
    z-index: -1;
    
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 5;
    }
    100% {
        opacity: 0;
    }
}

.second {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color:rgb(69, 52, 36);
    max-width: 70%;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

p15 {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: rgb(69, 52, 36);
}
p16 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(69, 52, 36);
}
p17 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(69, 52, 36);
}
p18 { 
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(69, 52, 36);
}