body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

a[href="../entry6/index.html"] {
  position: fixed; 
  top: 10px; 
  left: 10px; 
}
a[href="../entry8/index.html"] {
  position: fixed; 
  top: 10px; 
  right: 10px; 
}

.one {
    width: 1100px;
    height: 110px;
    transform: rotate(13.008deg) translateY(20px);
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    color: #000;
    font-family: Arial;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 120px;
    margin-left: 50px;
}

.one {
    margin-top: 120px;
    transition: transform 0.3s;
  }
  
  .one:hover {
    transform: translateY(20px);
  }

  @media (max-width: 650px) {
    .one {
        width: 300px;
        height: 30px;
        transform: rotate(13.008deg) translateY(20px);
        flex-shrink: 0;
        line-height: normal;
        margin-top: 120px;
        margin-left: 50px;
    }
  }


.two {
    width: 1000px;
    height: 100px;
    transform: rotate(-12.532deg);
    flex-shrink: 0;
    width: 1000px;
    height: 100px;
    margin-top: 300px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.two {
    margin-top: 300px;
    transition: transform 0.3s;
  }
  
  .two:hover {
    transform: translateX(20px);
  }
  @media (max-width: 650px) {
    .two {
        width: 300px;
        height: 30px;
        transform: rotate(-12.532deg) translateX(20px);
        flex-shrink: 0;
        line-height: normal;
        margin-top: 100px;
        margin-left: 0px;
    }
  }
.three {
    width: 800px;
    height: 100px;
    transform: rotate(-6deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 800px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.three {
    margin-top: 190px;
    transition: transform 0.3s;
  }
  
  .three:hover {
    transform: translateY(20px);
  }

  @media (max-width: 650px) {
    .three {
        width: 300px;
        height: 30px;
        transform: rotate(-6deg) translateY(20px);
        flex-shrink: 0;
        line-height: normal;
        margin-top: 100px;
        margin-left: 100px;
    }
  }
.four {
    width: 800px;
    height: 100px;
    transform: rotate(15deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 800px;
    margin-top: 300px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.four {
    margin-top: 250px;
    transition: transform 0.3s;
  }
  
.four:hover {
    transform: translateY(20px);
  }

  @media (max-width: 650px) {
    .four {
        width: 300px;
        height: 30px;
        transform: rotate(15deg) translateY(20px);
        flex-shrink: 0;
        line-height: normal;
        margin-top: 100px;
        margin-left: 100px;
    }
  }


.five {
    width: 800px;
    height: 100px;
    transform: rotate(-15deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-top: 300px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: -1;
}

.five {
    margin-top: 300px;
    transition: transform 0.3s;
  }
  
  .five:hover {
    transform: translateX(20px); 
}


  @media (max-width: 650px) {
    .five {
        width: 300px;
        height: 30px;
        transform: rotate(-15deg) translateY(20px);
        flex-shrink: 0;
        line-height: normal;
        margin-top: 200px;
        margin-left: 100px;
    }
    .five:hover {
        transform: translateX(20px); 
    }
  }

  @keyframes drop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(calc(235vh - 100px));
      opacity: 1;
    }
  }

  .circle {
    width: 100px;
    height: 100px;
    background-color: #ecd5ff;
    border-radius: 70%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -180px;
    margin-left: 50px;
  }
  
  .circle1 {
    width: 80px;
    height: 80px;
    background-color: #502b04;
    border-radius: 70%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -100px;
    margin-left: 750px;
    animation-delay: 0.4s; 
  }
  
  .circle2 {
        width: 130px;
        height: 130px;
        background-color: #ffe7ca;
        border-radius: 70%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -250px;
        margin-left: 900px;
        animation-delay: 0.8s;
  }
  
  .circle3 {
        width: 70px;
        height: 70px;
        background-color: #c4a485;
        border-radius: 50%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -80px;
        right: 10px;
        animation-delay: 1s; 
  }
  @media screen and (max-width: 768px) {
    @keyframes drop {
        0% {
          transform: translateY(0);
          opacity: 1;
        }
        20% {
          opacity: 1;
        }
        100% {
          transform: translateY(calc(140vh - 100px));
          opacity: 1;
        }
      }
    .circle {
        width: 50px;
        height: 50px;
        background-color: #ecd5ff;
        border-radius: 50%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -180px;
        margin-left: 30px;
    }
    .circle1 {
        width: 30px;
        height: 30px;
        background-color: #502b04;
        border-radius: 50%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -100px;
        margin-left: 150px;
        animation-delay: 0.4s; 
    }
    .circle2 {
        width: 80px;
        height: 80px;
        background-color: #ffe7ca;
        border-radius: 50%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -250px;
        margin-left: 290px;
        animation-delay: 0.8s;
    }
    .circle3 {
        width: 50px;
        height: 50px;
        background-color: #c4a485;
        border-radius: 50%;
        position: absolute;
        animation: drop 4s ease infinite;
        top: -180px;
        margin-left: 340px;
    }
  } 


  .six {
    float: right;
    position: relative;
    margin-top: 0px;
}

.six img {
    width: 500px;
    height: 500px;
    position: relative;
    top: -1490px;
    right: 0;
}


.seven {
    float: left;
    position: relative;
    margin-top: 0px;
}

.seven img {
    width: 360px;
    height: 360px;
    position: relative;
    top: -300px;
    right: 0;
}

.eight {
    float: left;
    position: relative;
    margin-top: 0px;
}

.eight img {
    width: 360px;
    height: 360px;
    position: relative;
    top: -1200px;
    left: 450px;
}

.nine {
    float: left;
    position: relative;
    margin-top: 0px;
}

.nine img {
    width: 400px;
    height: 400px;
    position: relative;
    top: -900px;
    right: 130px;
}

.ten {
    float: left;
    position: relative;
    margin-top: 0px;
}

.ten img {
    transform: rotate(10deg);
    width: 450px;
    height: 450px;
    position: relative;
    top: -1000px;
    left: 500px;
}

@media (max-width: 767px) {
    .six,
    .seven,
    .eight,
    .nine,
    .ten {
        float: none;
        width: 100%;
    }

    .six img {
        width: 150px;
        height: 150px;
        top: -540px; 
        left: 360px;
    }

    .seven img {
        width: 150px;
        height: 150px;
        top: -100px; 
        left: 30px; 
    }

    .eight img {
        width: 180px;
        height: 180px;
        top: -760px; 
        left: 250px; 
    }

    .nine img {
        width: 190px;
        height: 190px;
        top: -790px; 
        left: 0px; 
    }

    .ten img {
        width: 190px;
        height: 190px;
        top: -830px; 
        left: 300px; 
    }
}

