body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.one {
    width: 1100px;
    height: 110px;
    transform: rotate(13.008deg) translateY(20px);
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    color: #000;
    font-family: Arial;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 120px;
    margin-left: 50px;
}

.one {
    margin-top: 120px;
    transition: transform 0.3s;
  }
  
  .one:hover {
    transform: translateY(20px);
  }
  


.two {
    width: 1000px;
    height: 100px;
    transform: rotate(-12.532deg);
    flex-shrink: 0;
    width: 1000px;
    height: 100px;
    margin-top: 300px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.two {
    margin-top: 300px;
    transition: transform 0.3s;
  }
  
  .two:hover {
    transform: translateX(20px);
  }

.three {
    width: 800px;
    height: 100px;
    transform: rotate(-6deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 800px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.three {
    margin-top: 190px;
    transition: transform 0.3s;
  }
  
  .three:hover {
    transform: translateY(20px);
  }

.four {
    width: 800px;
    height: 100px;
    transform: rotate(15deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 800px;
    margin-top: 300px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.four {
    margin-top: 250px;
    transition: transform 0.3s;
  }
  
.four:hover {
    transform: translateY(20px);
  }

.five {
    width: 800px;
    height: 100px;
    transform: rotate(-15deg);
    flex-shrink: 0;
    width: 800px;
    height: 100px;
    flex-shrink: 0;
    margin-top: 300px;
    color: #000;
    font-family: Arial;
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.five {
    margin-top: 300px;
    transition: transform 0.3s;
  }
  
.five:hover {
    transform: translateX(20px);
  }





  .circle {
    width: 100px;
    height: 100px;
    background-color: #084615;
    border-radius: 70%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -180px;
    margin-left: 50px;
  }
  
  .circle1 {
    width: 80px;
    height: 80px;
    background-color: #4f2c06;
    border-radius: 70%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -100px;
    margin-left: 790px;
    animation-delay: 0.4s; 
  }
  
  .circle2 {
    width: 130px;
    height: 130px;
    background-color: #ffcb94;
    border-radius: 70%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -250px;
    margin-left: 900px;
    animation-delay: 0.8s;
  }
  
  .circle3 {
    width: 70px;
    height: 70px;
    background-color: #ffeedb;
    border-radius: 50%;
    position: absolute;
    animation: drop 4s ease infinite;
    top: -80px;
    right: 10px;
    animation-delay: 1s; 
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(calc(235vh - 100px));
      opacity: 1;
    }
  }

  .six {
    float: right; 
    position: relative; 
    margin-top:0px;
  }
  
  .six img {
    
    width: 500px;
    height: 500px; 
    position: relative;
    top: -1490px; 
    right: 0; 
  }

  .seven {
    float: left;
    position: relative;
    margin-top: 0px;
  }
  
  .seven img {
    width: 360px;
    height: 360px;
    position: relative;
    top: -300px;
    right: 0;
  }

  .eight {
    float: left;
    position: relative;
    margin-top: 0px;
  }
  
  .eight img {
    width: 360px;
    height: 360px;
    position: relative;
    top: -1200px;
    left: 450px;
  }


  .nine {
    float: left;
    position: relative;
    margin-top: 0px;
  }
  
  .nine img {
    width: 400px;
    height: 400px;
    position: relative;
    top: -900px;
    right: 130px;
  }
  
  .ten {
    float: left;
    position: relative;
    margin-top: 0px;
  }
  
  .ten img {
    transform: rotate(10deg);
    width: 450px;
    height: 450px;
    position: relative;
    top: -1000px;
    left: 500px;
  }

