
.texture img{
    top: 0;
    left: 0;
    width: 100vw;
    height: 900px;
    position: absolute;
    object-fit: cover;
    mix-blend-mode: lighten;
    z-index: -5;
}
.button-container {
    position: fixed;
    display: flex;
    align-items: flex-start; /* Align items to the start (top) */
    justify-content: flex-end; /* Justify content to the end (right) */
    top: 15px;
    width: 97vw;
}
button {
  display: inline-block;
  font-size: 20px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 0 5px #999;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  
}

.one, .two, .three,.four, .five, .six {
    display: none;
    }

    .one {
        position: relative;
    }
    .one img {
        width: 700px;
        height: 700px;
        top: 170px;
        position: absolute;
        right: 400px;
    }

    .two {
        position: relative;
    }
    .two img {
        width: 800px;
        height: 800px;
        position: absolute;
        top: 70px;
        right: 0;
    }
    .three {
        position: relative;
    }
    .three img {
        width: 400px;
        height: 400px;
        top: 0px;
        position: absolute;
        left: 20px;
        z-index: -1;
        rotate: 15deg;
    }

    .four {
        position: relative;
    }
    .four img {
        width: 400px;
        height: 400px;
        top: 0px;
        position: absolute;
        right: 620px;
        rotate: 15deg;
    }
    
    .five {
        position: relative;
    }
    .five img {
        width: 600px;
        height: 600px;
        top: 350px;
        position: absolute;
        left: 50px;
    }
    .six {
        position: relative;
    }
    .six img {
        width: 400px;
        height: 400px;
        top: 120px;
        position: absolute;
        left: 450px;
        rotate: 20deg;
    }
