body {
    background-color: rgb(245, 240, 233);
}



@keyframes floatText {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 150px;
    color: rgb(31, 98, 255);
    animation: floatText 1.5s ease infinite; 
  }



h2 {
    font-family: 'Dela Gothic One', sans-serif;;
    font-size: 100px;
    color: rgb(31, 98, 255);

}
#myp1 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .left-text {
    flex: 1;
    text-align: left;
  }
  
  .center-text {
    flex: 1;
    text-align: center;
  }
  
  .right-text {
    flex: 1;
    text-align: right;
  }


hr {
    border-top: 3px solid rgb(31, 98, 255);
}



.special-font {
    font-family: 'Newsreader', serif;
}



.first {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center; 
  color: rgb(31, 98, 255);
  font-size: 23px;
  align-items: center;
  max-width: 100%;

}


.myDiv {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(31, 98, 255);
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  align-items: center;
}

.left-text, .center-text, .right-text {
  flex: 1;
  text-align: center;
}

.myDiv div:hover {
  transform: scale(1.9);
  transition: transform 0.4s;
}





#myPP {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(31, 98, 255);
}

.left-text, .center-text, .right-text {
  flex: 1;
  text-align: center;
}




  

#four {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(31, 98, 255);
}

.flex-container {
  flex: 1;
  text-align: center;
}

  



p {
    font-family: 'Newsreader', serif;
    font-size: 150px;
    text-align: center;
    color: rgb(31, 98, 255);
  }


.six {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 20px;
    color: rgb(31, 98, 255);
    max-width: 70%;
    text-align: center;
    align-items: center;
    margin: 0 auto; 
}
  
  
  
