body {
    background-color: rgb(245, 240, 233);
}

a[href="../../entry2/final/index.html"] {
  position: fixed;
  top: 0px;
  left: 10px;
  font-size: 13px;
  z-index: 1;
  color: rgb(31, 98, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry2/final/index.html"]:hover {
  color: rgb(245, 240, 233);
  background-color:   rgb(31, 98, 255);
}

a[href="../../entry4/final/index.html"] {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 13px;
  z-index: 1;
  color: rgb(31, 98, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry4/final/index.html"]:hover {
  color: rgb(245, 240, 233);
  background-color:  rgb(31, 98, 255);
}

a[href="../../../index.html"] {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  z-index: 1;
  color: rgb(31, 98, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}


a[href="../../../index.html"]:hover {
  color: rgb(245, 240, 233);
  background-color:   rgb(31, 98, 255);
}

@keyframes floatText {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 120px;
    color: rgb(31, 98, 255);
    animation: floatText 1.5s ease infinite; 
    text-align: center;
  }



h2 {
    font-family: 'Dela Gothic One', sans-serif;;
    font-size: 80px;
    color: rgb(31, 98, 255);
    text-align: center;

}
#myp1 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .left-text {
    flex: 1;
    text-align: left;
  }
  
  .center-text {
    flex: 1;
    text-align: center;
  }
  
  .right-text {
    flex: 1;
    text-align: right;
  }





hr {
    border-top: 3px solid rgb(31, 98, 255);
}



.special-font {
    font-family: 'Newsreader', serif;
}



.first {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center; 
  color: rgb(31, 98, 255);
  font-size: 20px;
  align-items: center;
  max-width: 100%;

}


.myDiv {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(31, 98, 255);
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
}

.left-text, .center-text, .right-text {
  flex: 1;
  text-align: center;
}

.myDiv div:hover {
  transform: scale(1.9);
  transition: transform 0.4s;
}





#myPP {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(31, 98, 255);
}

.left-text, .center-text, .right-text {
  flex: 1;
  text-align: center;
}




  

#four {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(31, 98, 255);
}

.flex-container {
  flex: 1;
  text-align: center;
}

  



p {
    font-family: 'Newsreader', serif;
    font-size: 150px;
    text-align: center;
    color: rgb(31, 98, 255);
  }


  .vertical-line {
    background-color: rgb(31, 98, 255);
    top: 500px;
    width: 3px;
    left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 1px;
    height: 3500px;
    margin-left: 50%;
}

element.style {
    text-align: center;
}

.six {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 20px;
    color: rgb(31, 98, 255);
    max-width: 70%;
    text-align: center;
    align-items: center;
    margin: 0 auto; 
}
  
  
  
