body {
      background-color: #ffffff;
    }

.texture {
        top: 0px;
        left: 0px;
        width: 1700px;
        height: 2100px;
        position: absolute;
        mix-blend-mode:multiply;
        z-index: -5;
    }

h1 {
      font-family: "azo-sans-uber", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 250px; 
      color: rgb(217, 23, 120);
      margin-top: 50px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 100px;
    }
}

@media screen and (min-width: 1025px) {
    h1 {
        font-size: 250px;
    }
}

.one {
    margin-left: 300px;
    margin-top: 100px;
    position: relative;
}
.one img {
    width: 530px;
    height: 530px;
}
@media screen and (max-width: 768px) {
    .one {
        margin-left: 60px;
        margin-top: 100px;
        position: relative;
    }
    .one img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .one {
        margin-left: 110px;
        margin-top: 100px;
        position: relative;
    }
    .one img {
        width: 330px;
        height: 330px;
    }
}

.two {
    margin-left: 660px;
    margin-top: 800px;
    z-index: 2;
    position: absolute;
    top: 0; 
    left: 0;
}
.two img {
    width: 400px;
    height: 400px;
    position: relative; 
}
@media screen and (max-width: 768px) {
    .two {
        margin-left: 170px;
        margin-top: 380px;
        z-index: 2;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .two img {
        width: 140px;
        height: 140px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .two {
        margin-left: 350px;
        margin-top: 500px;
        z-index: 2;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .two img {
        width: 200px;
        height: 200px;
        position: relative; 
    }
}

.three {
    margin-left: 900px;
    margin-top: 550px;
    z-index: 4;
    position: absolute;
    top: 0; 
    left: 0;
}
.three img {
    width: 450px;
    height: 450px;
    position: relative; 
}

@media screen and (max-width: 768px) {
    .three {
        margin-left: 250px;
        margin-top: 240px;
        z-index: 4;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .three img {
        width: 230px;
        height: 230px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .three {
        margin-left: 470px;
        margin-top: 280px;
        z-index: 4;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .three img {
        width: 350px;
        height: 350px;
        position: relative; 
    }
}

.four {
    margin-left: 880px;
    margin-top: 900px;
    transform: rotate(40deg);
    z-index: 3;
    position: absolute;
    top: 0; 
    left: 0;
}
.four img {
    width: 600px;
    height: 600px;
    position: relative; 
}
@media screen and (max-width: 768px) {
    .four {
        margin-left: 250px;
        margin-top: 380px;
        transform: rotate(40deg);
        z-index: 3;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .four img {
        width: 280px;
        height: 280px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .four {
        margin-left: 430px;
        margin-top: 530px;
        transform: rotate(40deg);
        z-index: 3;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .four img {
        width: 400px;
        height: 400px;
        position: relative; 
    }
}

.five {
    margin-left: 550px;
    margin-top: 1070px;
    z-index: 3;
    position: absolute;
    top: 0; 
    left: 0;
}
.five img {
    width: 480px;
    height: 480px;
    position: relative; 
}

@media screen and (max-width: 768px) {
    .five {
        margin-left: 130px;
        margin-top: 470px;
        z-index: 3;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .five img {
        width: 200px;
        height: 200px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .five {
        margin-left: 200px;
        margin-top: 600px;
        z-index: 3;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .five img {
        width: 350px;
        height: 350px;
        position: relative; 
    }
}

.six {
    margin-left: 280px;
    margin-top: 50px;
    transform: rotate(-10deg);
    position: relative;
}
.six img {
    width: 500px;
    height: 500px;
}
@media screen and (max-width: 768px) {
    .six {
        margin-left: 30px;
        margin-top: 50px;
        transform: rotate(-10deg);
        position: relative;
    }
    .six img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .six {
        margin-left: 70px;
        margin-top: 80px;
        transform: rotate(-10deg);
        position: relative;
    }
    .six img {
        width: 300px;
        height: 300px;
    }
}

.seven {
    margin-left: 190px;
    margin-top: 1080px;
    transform: rotate(15deg);
    z-index: 8;
    position: absolute;
    top: 0; 
    left: 0;
}
.seven img {
    width: 200px;
    height: 200px;
    position: relative; 
}
@media screen and (max-width: 768px) {
    .seven {
        margin-left: 30px;
        margin-top: 460px;
        transform: rotate(15deg);
        z-index: 8;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .seven img {
        width: 70px;
        height: 70px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .seven {
        margin-left: 50px;
        margin-top: 650px;
        transform: rotate(15deg);
        z-index: 8;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .seven img {
        width: 100px;
        height: 100px;
        position: relative; 
    }
}
.eight {
    margin-left: 1300px;
    margin-top: 860px;
    z-index: 6;
    position: absolute;
    top: 0; 
    left: 0;
}
.eight img {
    width: 160px;
    height: 160px;
    position: relative; 
}
@media screen and (max-width: 768px) {
    .eight {
        margin-left: 450px;
        margin-top: 360px;
        z-index: 6;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .eight img {
        width: 50px;
        height: 50px;
        position: relative; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .eight {
        margin-left: 750px;
        margin-top: 500px;
        z-index: 6;
        position: absolute;
        top: 0; 
        left: 0;
    }
    .eight img {
        width: 90px;
        height: 90px;
        position: relative; 
    }
}
.one img,
.two img,
.three img,
.four img,
.five img,
.six img,
.seven img,
.eight img {
    filter: blur(3px);
    transition: filter 0.3s ease-in-out;
}
.one img:hover,
.two img:hover,
.three img:hover,
.four img:hover,
.five img:hover,
.six img:hover,
.seven img:hover,
.eight img:hover {
    filter: blur(0px);
}


.title, .content {
    margin: 0 auto;
}

.title {
    border-bottom: 1px solid black;
    padding: 25px;
    cursor: pointer;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    max-width: 50%;
}

.title:hover {
    background: rgb(217, 23, 120);;
}

.content {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    display: none;
    border-bottom: 1px solid black;
    text-align: center;
    max-width: 50%;
}
