body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255); /* Set a light background color */
}
.background img{
    top: 0;
    left: 0;
    width: 1700px;
    height: 880px;
    position: absolute;
    z-index: -5;
}

h1 {
    font-size: 40px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 176, 191);
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

.dispersed-image {
    position: absolute;
    width: 150px; 
    height: auto; 
  }


#dispersionButton {
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.image-container {
    display: flex;
    width: 50px;
    height: 50px;
}

.animated-image {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.5s ease-out;
}

.animated-image:hover {
    filter: brightness(1.2);
}

