body {
    background-color: white;
}

h1{
    font-family: sans-serif;
    color: black;
    font-size: 60px;
}
h3 { font-family: "Lucida Console", Courier, monospace;
    color: black;
    font-size: 20px;
}
