body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.custom-text-box {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130px;
    position: absolute;
    left: 600px;
    top: 170px;
    width: 900px;
    height: 100px;
    text-align: right;
    color: rgb(255, 86, 2);
}

.big-text {
    font-size: 200px; 
    transition: font-size 0.4s; 
}


.custom-text-box p:hover {
    color: rgb(255, 86, 2); 
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 80px;
    margin-left: 0px;
    margin-top: 200px;
    
}



.fixed {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}




.mirror {
    position: fixed;
    top: 0;
    right: 0;
}

.mirror img {
    max-width: 200px; 
    max-height: auto; 
    motion-rotation: auto;
}


.rotate-3d {
    width: 200px; 
    height: 200px;
    animation: rotateImage 8s linear infinite; 
    transform-style: preserve-3d;
}


@keyframes rotateImage {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}



.container {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 1000px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px; 
}


.item1 {
    background-color: #ffcfb8;
}
.item2 {
    background-color: #ff9c5a;
}
.item3 {
    background-color: #ff7322;
    margin-bottom: 100px;
}

.item {
    margin: 50px 200px 0; 
    margin-top: 200px;
    margin-bottom: 100px;
    align-items: center;
    width: 150px;
    height: 50px;
    writing-mode: horizontal-tb;
    max-width: 700px;
    opacity: 0;
    visibility: hidden; /* Initially hide the items */
    font-size: 18px; /* Adjust the font size as needed */
    transition: visibility 0.5s ease-in-out; /* Add a smooth transition effect */
}

.container:hover .item {
    opacity: 100;
    visibility: visible;
}




.first {
    width: 210px;
    height: 150px;
    position: sticky;
    top: 10px;
    left: 20px;
}
.first img {
    width: 840px; 
    height: 600px;
}

.second {
    position: sticky;
    top: 0px; 
    right: 0px; 
}
.second img {
    width: 420px; 
    height: 300px;
    margin-left: 600px;
}


.third {
    position: sticky;
    top: 110px; 
    left: 20px;
}
.third img {
    width: 840px; 
    height: 600px;
    margin-left: 500px;

}



.fourth {
    position: sticky;
    top: 0px;
    left: 20px;
}
.fourth img {
    width: 300px; 
    height: auto; 
    margin-left: 1300px;
}

.five {
    position: sticky;
    top: 200px;
    left: 100px;
}

.five img {
    width: 300px; 
    height: 300px; 
    margin-left: 1200px;
}


.six {
    position: sticky;
    top: 10px;
    left: 100px;
}
.six img {
    width: 200px; 
    height: 200px; 
    margin-left: 900px;
}

.seven {
    position: sticky;
    top: 10px;
    left: 180px;
}
.seven img {
    width: 300px; 
    height: 300px; 
    margin-left: 450px;
}

.eight {
    position: sticky;
    top: 60px;
    left: 180px;
}
.eight img {
    width: 400px; 
    height: 400px; 
    margin-left: 600px;
}

.nine {
    position: sticky;
    top: 0px;
    left: 20px;
}
.nine img {
    width: 200px; 
    height: 190px; 
    margin-right: 1290px;
    margin-bottom: 0px;
}

.ten {
    position: sticky;
    top: 500px;
    left: 260px;
}
.ten img {
    width: 350px;
    height: 350px; 
    margin-left: 1290px;
    margin-bottom: 0px;
}

.eleven {
    position: sticky;
    top: 400px;
    left: 260px;
}
.eleven img {
    width: 400px; 
    height: 380px; 
    margin-left: 500px;
    margin-bottom: 0px;
}

.twelve {
    position: sticky;
    top: 76%;
    margin-right: 800px;
}
.twelve img {
    width: 300px; 
    height: 300px; 
    margin-right: 0px;
    margin-bottom: 0px;
}



