body {
    background-color: rgb(204, 72, 24);
    margin: 0;
    padding: 0;
}

.custom-text-box {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150px;
    position: absolute;
    left: 100px;
    top: 150px;
    width: 900px;
    height: 100px;
}

.big-text {
    font-size: 300px;
}

.fixed {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}




.mirror {
    position: fixed;
    top: 0;
    right: 0;
}

.mirror img {
    max-width: 300px; /* Adjust the value to your desired smaller width */
    max-height: auto; /* Maintain the aspect ratio */
}


.container {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    padding: 40px;
    background-color: transparent;
    opacity: 0.6;
    min-height: 500px;
    font-size: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.item1 {
    background-color: #85211a;
}
.item2 {
    background-color: #df6a33;
}
.item3 {
    background-color: #ffb45e;
}
.item {
    margin: 10px 10px;
    width: 150px;
    height: auto;
    writing-mode: vertical-rl;
}

