body {
    background-color: rgb(204, 72, 24);
    margin: 0;
    padding: 0;
}

.custom-text-box {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130px;
    position: absolute;
    left: 600px;
    top: 150px;
    width: 900px;
    height: 100px;
    text-align: right;

}

.big-text {
    font-size: 210px;
}



.fixed {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}




.mirror {
    position: fixed;
    top: 0;
    right: 0;
}

.mirror img {
    max-width: 200px; /* Adjust the value to your desired smaller width */
    max-height: auto; /* Maintain the aspect ratio */
}


.icon {
    position:absolute;
    display: block;
}
.container {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: center;
    min-height: 1000px;
    font-size: 20px;
    text-align: center; /* Align text to the left */
}

.item1 {
    background-color: #85211a;
}
.item2 {
    background-color: #df6a33;
}
.item3 {
    background-color: #ffb45e;
}
.item {
    margin: 20px 200px;
    align-items: center;
    width: 150px;
    height: 50px;
    writing-mode: horizontal-tb;
    max-width: 700px;
}



.first {
    position: sticky;
    margin-left: 100px;
    top: 0;
    text-align: left;
}
.first img {
    margin-left: 130px;
    max-width: 800px;
    height: auto;
    margin-top: 500px; /* Adjust the value to move the image lower */

}
