body {
    background-color: rgb(255, 107, 156);
}

body, html {
    height: 100%; 
    margin: 0; 
    padding: 0; 
  }

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .image1 {
    width: 80%; 
    height: auto; 
  }

  h1 {
        font-family: 'blankriver';
        font-size: 35px;
        color: black;
    
  }

  .vertical-line {
    background-color: black;
    top: 500px;
    width: 3px;
    left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 1px;
    height: 800px;
    margin-left: 50%;
}

element.style {
    text-align: center;
}

@font-face {
    font-family: 'blankriver';
    src: url('/Users/sarah/Desktop/seoyun03.github.io/entries/entry4/BlankRiver.ttf');
    font-weight: normal;
    font-style: normal;
}
h2 {
  font-family: 'blankriver';
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 50;
  align-items: center;
  transition: transform 0.5s, font-size 0.5s; 
}

h2:hover {
  transform: rotate(360deg) scale(1.2); /* Rotate and scale the text */
  font-size: 80px; /* Increase the font size on hover */
  margin: 0; /* Reset margin to ensure consistent layout */
}


.notes {
  font-family: 'blankriver';
  font-size: 150px;
  color: #000000;
  font-kerning: 30px;
  padding: 10px;
  border: 20px;
  margin: 90px;
  margin-top: 60px;
  transition: all 0.5s ease;
}


#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

#left, #center, #right {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.image-text {
  font-family: 'blankriver';
  font-size: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
  background-color: rgba(0, 0, 0, 0.7); /* Background color for the text */
  color: white; /* Text color */
  padding: 10px;
}

.image-container:hover img{
  opacity: 20%;
}
.image-container:hover .image-text {
  display: block; /* Display the text when hovering over the container */
}


