body {
  background-color: rgb(255, 44, 115);
}

a[href="../../entry3/final/index.html"] {
  position: fixed;
  top: 0px;
  left: 10px;
  font-size: 13px;
  z-index: 1;
  color: rgb(255, 255, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry3/final/index.html"]:hover {
  color: rgb(255, 255, 255);
  background-color:   rgb(0, 0, 0);
}

a[href="../../entry5/index.html"] {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 13px;
  z-index: 1;
  color: rgb(255, 255, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease; 
}


a[href="../../entry5/index.html"]:hover {
  color: rgb(255, 255, 255);
  background-color:  rgb(0, 0, 0);
}

a[href="../../../index.html"] {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  z-index: 1;
  color: rgb(255, 255, 255);
  background-color: transparent; 
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}


a[href="../../../index.html"]:hover {
  color: rgb(255, 255, 255);
  background-color:   rgb(0, 0, 0);
}


h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 25px;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title img {
  width: 80%;
  height: auto;
}


.vertical-line {
  background-color: transparent; 
  top: 500px;
  width: 3px;
  left: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  border-left: 4px dashed black;
  height: 800px;
  margin-left: 50%;
}



.perfume {
  max-height: 20%;
  max-width: 20%;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center vertically */
  transition: transform 0.5s;
}

.perfume:hover {
  transform: rotate(360deg);
}

@media (min-width: 200px) {
  .perfume img {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .perfume img {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .perfume img {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .perfume img {
    width: 400px;
  }
}


.link {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 20px;
  text-align: center; 
  width: 100%; 
  margin-top: 50px;
}

.vertical-line1 {
  background-color: transparent;
  width: 3px;
  left: 50%;
  margin-top: 200px;
  margin-bottom: 50px;
  border-left: 4px dashed black;
  height: 800px;
  margin-left: 50%;
}




.images-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  padding: 80px;
}

.image-section {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.image-section {
  position: relative;
  width: 200px;
  height: 200px;
}

.image-description {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.image-section:hover img {
  opacity: 20%;
}

.image-section:hover .image-description {
  display: block;
}


.centered-text {
  text-align: center;
  word-spacing: 10px;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
  color: rgb(0, 0, 0);
  max-width: 65%;
  margin: 0 auto;
}
